  <h1>Hello <%= @owner.profile.display_name.capitalize || @owner.name.capitalize %></h1>
                        <p>
                          <%= link_to @user.profile.display_name, vanity_profile_url(@user.profile.slug) %> favourited your upload on mixsample.com;
                        </p>
                        <p>
                          <%= link_to @title, @url %>.
                        </p>
                        <p>Thanks!</p>
                        The MixSample Team