<% content_for :title do %>Welcome<% end %>

<div class="jumbotron">
	<h1>Welcome to MixSample</h1>
	<hr/>
	<h4>
	Sample Music Made Simple.
	<br/>
	<br/>
	<%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-lg btn-primary white" %>
	<%= link_to 'Upload for Free', upload_path, class: "btn btn-lg btn-success white" %>
	<br/>
	<br/>
	</h4>

</div>
	<style type="text/css">

	body {
		background-image:url('http://res.cloudinary.com/narration/image/upload/v1473721630/RECORD_fjjtpe.jpg');
		background-size: cover;
		background-repeat: no-repeat;
	}
	
			
	main.container {
		background-color: transparent !important;
	}

	/*
	.navbar-inverse .navbar-nav li {
		display:none;
	} */
</style>