<% content_for :title do %>Welcome<% end %>

<div class="jumbotron col-md-12">
	

	<div class="col-md-5">
	<h1>Welcome to MixSample</h1>
	<hr/>
	<h4>
	Sample Music Made Simple. Sign up to upload...
	<br/>
	<!-- MixSample hosts, streams and licenses sample based music for free. -->
<!-- 	<br/> -->
	<br/>
	<%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-lg btn-primary white" %>
	<%= link_to raw('<i class="glyphicon glyphicon-upload" ></i> Upload '), upload_path, class: "btn btn-lg btn-success white" %>
	<br/>
	<br/>
	</h4>

	</div>
	<div class="col-md-7 buttons">
			<h4>
	<iframe src="http://mixsample.com/posts/<%= @post.id %>/embed?utm_source=embed&utm_medium=iframe&utm_campaign=embed%20code" frameborder="" width="540" height="340"></iframe><br/>
	
	</h4>
	</div>

</div>
	<style type="text/css">

	.jumbotron {
		background-color: white;
	}

	body {
		background-image:url('http://res.cloudinary.com/narration/image/upload/v1473721630/RECORD_fjjtpe.jpg');
		background-size: cover;
		background-repeat: no-repeat;
	}
	
			
	main.container {
		background-color: transparent !important;
	}

	/*
	.navbar-inverse .navbar-nav li {
		display:none;
	} */
</style>