<% content_for :title do %>Welcome<% end %>

<div class="jumbotron">
	<h1>Welcome</h1>
	<hr/>
	<h4>
	Music Samples Made Simples.
	<br/>
	<br/>
	<%= link_to 'Sign up', new_user_registration_path, class: "btn btn-lg btn-primary white" %>
	<br/>
	<br/>
	</h4>

</div>
	<style type="text/css">

	body {
		background-image:url('http://res.cloudinary.com/narration/image/upload/v1473721630/RECORD_fjjtpe.jpg');
		background-size: cover;
	}
	
			
	main.container {
		background-color: transparent !important;
	}

	/*
	.navbar-inverse .navbar-nav li {
		display:none;
	} */
</style>