

<div id="jquery_jplayer_audio_1" class="jp-jplayer"></div>

<div id="jp_container_audio_1" class="jp-jplayer">

  <div class="jp-type-playlist">
    <div id="jplayer_1" class="jp-jplayer hide"></div>
    <div class="jp-gui">

          <div class="jp-play-control jp-control pull-left">
            <button class="jp-play jp-button btn btn-circle btn-success" role="button" aria-label="play" tabindex="0">
              <i class="glyphicon glyphicon-play" style="color: white; font-size: 40px; top: 2px; left: -1px;"></i>
            </button>
            <button class="jp-pause jp-button btn btn-circle btn-success" role="button" aria-label="pause" tabindex="0">
              
            <i class="glyphicon glyphicon-pause" style="color: white; font-size: 40px; top: 2px; left: -1px;"></i></button>
          </div>

      <div class="jp-interface pull-left" style="width: 90%; padding-top: 30px;">
        <div class="jp-controls ">
          <div style="margin-right: 5px;"><a class="jp-previous pull-left"> <span class=" btn-sm btn-success" >
              <i class="glyphicon glyphicon-triangle-left" style="color: white; font-size: 15px; top: 2px; left: -1px; "></i>
            </span></a>

            </div>
<!--           <div>
            <a class="jp-play"><i class="icon-control-play i-2x"></i></a>
            <a class="jp-pause hid"><i class="icon-control-pause i-2x"></i></a>
          </div> -->
          <div ><a class="jp-next pull-left" style="margin-left: 5px;"><span class=" btn-sm btn-success" >
              <i class="glyphicon glyphicon-triangle-right" style="color: white; font-size: 15px; top: 2px; left: -1px;"></i>
            </span></a></div>
          <!-- <div class="hide"><a class="jp-stop"><i class="fa fa-stop"></i></a></div> -->
          <!-- <div><a class="" data-toggle="dropdown" data-target="#playlist"><i class="icon-list"></i></a></div>-->

        </div>
        <div class="jp-progress jp-bar" style="width: 100%;">
            <div class="jp-seek-bar jp-seek-bar-display"></div>
            <div class="jp-seek-bar dk">
              <div class="jp-play-bar bg-info">
              </div>
              <div class="jp-title text-lt white text-center">
                <h3></h3>
                <!-- <ul>
                  <li><h3></h3></li>
                </ul> -->
              </div>
            </div>
          </div>
      </div>
    </div>
    <!-- <div class="jp-playlist dropup" id="playlist">
      <ul class="dropdown-menu aside-xl dker">
        The method Playlist.displayPlaylist() uses this unordered list
        <li class="list-group-item"></li>
      </ul>
    </div> -->
    <div class="jp-no-solution hide">
      <span>Update Required</span>
      To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jplayer/2.9.2/jplayer/jquery.jplayer.js"></script>  
<script src="https://cdnjs.cloudflare.com/ajax/libs/jplayer/2.9.2/add-on/jplayer.playlist.js"></script>

 <script type="text/javascript">


    $(document).ready(function(){

       urls = <%=raw @posts.to_json || null %>;

        playlist = []; // Empty playlist

        for (i = 0; i < urls.length; i++) {
          // var p = i+1;

          playlist[i] = {
          title: urls[i]['title'],
          artist: urls[i]['user_id'],
          mp3: urls[i]['audio']['url']
          }
        }

      


        player = $("#jquery_jplayer_audio_1");
        jPlayer_method = player.jPlayer;
        player.jPlayer({
        ready: function () {
          $(this).jPlayer("setMedia", playlist[0]);
        },
        cssSelectorAncestor: "#jp_container_1",
        swfPath: "/js",
        supplied: "mp3, oga",
        useStateClassSkin: true,
        autoPlay: true,
        autoBlur: true,
        smoothPlayBar: true,
        keyEnabled: true,
        remainingDuration: true,
        toggleDuration: true,
        preload: 'auto'
      });

      cssSelector = { jPlayer: "#jquery_jplayer_audio_1", cssSelectorAncestor: "#jp_container_audio_1" };

      options = { swfPath: "/js", supplied: "ogv, m4v, oga, mp3" };
      myPlaylist = new jPlayerPlaylist(cssSelector, playlist, options);

       $('.jp-play').on('click', function(e){
    
          e.preventDefault();
       
            myPlaylist.play();
               
          console.log('play');  

        });


       // Evend listener for end / change of track in playlist - needs hooking up to the DB via ajax post
        $("#jquery_jplayer_audio_1").bind($.jPlayer.event.ended, function(event) {
               //as above, grabbing the % location and media being played
               //except when it ends we force the value as 100%, otherwise it shoots back as 0
               var playerTime = 100;
               var mediaName = event.jPlayer.status.src;
               //track the End event as above.
               // _gaq.push(['_trackEvent', 'jPlayer', 'Ended',mediaName,playerTime]);
               console.log(event.jPlayer.status);
        });



    });






  </script>

