
<div class="panel panel-success">
  

  <div class="panel-heading">
    <h3 class="panel-title">Upload</h3>
  </div>
  <div class="panel-body"><h4 class="">
    Upload your own sample-based music here... <br/><br/>
    <i class='fa fa-check' ></i> Free Forever<br/>
    <i class='fa fa-check' ></i> Unlimited Uploads <br/>
    <i class='fa fa-check' ></i> Legally Licensed
    </h4>
    <br/>
    <br/>
    <%= link_to raw("<i class='fa fa-upload' aria-hidden='true'></i> Upload"), upload_path, class: "btn btn-success white btn-block" %>

  </div>
</div>




<!--<a class="twitter-timeline" href="https://twitter.com/mixsampleapp">Tweets by mixsampleapp</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>-->