<% content_for :title do %>About<% end %>

<div class="jumbotron row">
	<div class="col-md-8">
	<h1>About</h1>
	<hr/>
	<h4>
	MixSample hosts, streams and licenses sample based music.
	<br/>
	<br/>
	Audio we host, contains 30 second clips of sampled music and can be freely streamed, embedded and shared online. MixSample is licensed by the PRS and PPL for the music used. Here's an example beat by E-Prime:
	<br/>
	<br/>
	<br/>
	<iframe src="http://mixsample.com/posts/13/embed?utm_source=embed&utm_medium=iframe&utm_campaign=embed%20code" frameborder="0" width="660" height="350"></iframe><br/>
	<br/>
	<br/>
	If you're into sample based music and you'd like to get involved, tweet us <%= link_to "@mixsampleapp", "http://twitter.com/mixsampleapp", target: "_blank" %> to see how. 
	<br/>
	<br/>
	</h4>
	</div>
	<div class="col-md-4">
		<div class="fb-page" data-href="https://www.facebook.com/mixsampleapp" data-tabs="timeline" data-height="130" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/mixsampleapp" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/mixsampleapp">MixSample</a></blockquote></div>
		<br/>
		<br/>
		<a class="twitter-timeline pull-right" data-height="800" href="https://twitter.com/mixsampleapp">Tweets by mixsampleapp</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
	</div>
</div>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.8&appId=1412697118982924";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


	<style type="text/css">

	body {
		background-image:url('http://res.cloudinary.com/narration/image/upload/v1473721630/RECORD_fjjtpe.jpg');
		background-size: cover;
		background-repeat: no-repeat;
	}
	
			
	main.container {
		background-color: transparent !important;
	}

	/*
	.navbar-inverse .navbar-nav li {
		display:none;
	} */
</style>