<% content_for :title do %>About<% end %>

<div class="jumbotron">
	<h1>About</h1>
	<hr/>
	<h4>
	Sample Music, Made Simple.
	<br/>
	<br/>
	MixSample hosts, streams and licenses sample based music.
	<br/>
	<br/>
	Audio we host, contains 30 second clips of sampled music and can be freely streamed, embedded and shared online. We are licensed by the PRS and PPL for the music we use.
	<br/>
	<br/>
	If you're into sample based music and you'd like to get involved, tweet us <%= link_to "@mixsampleapp", "http://twitter.com/mixsampleapp", target: "_blank" %> to see how. 
	<br/>
	</h4>

</div>
	<style type="text/css">

	body {
		background-image:url('http://res.cloudinary.com/narration/image/upload/v1473721630/RECORD_fjjtpe.jpg');
		background-size: cover;
	}
	
			
	main.container {
		background-color: transparent !important;
	}

	/*
	.navbar-inverse .navbar-nav li {
		display:none;
	} */
</style>