<h1>Artist: <%= @artist %></h1>
<hr/>

<div class="col-md-12 row">
<div class="col-md-8">

  <div>

  <br/>
  <!-- Tab panes -->
  <div class="tab-content">
    	<% @posts.each do |post| %>
  			<%= render 'shared/posts', post: post %>
  		<% end %>
</div>

</div>
<div class="col-md-4">
  
</div>

</div>
