

<h1 class="text-center">
<%= cl_image_tag("http://res.cloudinary.com/narration/image/upload/v1475925408/mixsample-black_xzwtms.png", width: "70px", :secure => true, style: "display: inline;" ) %>



MixSample
<br/>

<small>Sample Music Made Simple
</small>
</h1>
<br/>

<div class="col-md-12 row">
<div class="col-md-8">

<div>

  <br/>
  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="previews">
      <% @posts.each do |post| %>
        <%= render 'shared/posts', post: post %>
      <% end %>
    </div>
    <div role="tabpanel" class="tab-pane" id="reviews">
      
    </div>
  </div>

</div>


</div>
<div class="col-md-4">

<!--<a class="twitter-timeline" href="https://twitter.com/mixsampleapp">Tweets by mixsampleapp</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>-->
  
</div>

</div>

