

<h1 class="text-center">MixSample
<br/>

<small>Samples. Simples.
</small>
</h1>
<br/>

<div class="col-md-12 row">
<div class="col-md-8">

<div>

  <!-- Nav tabs -->
  <!-- <ul class="nav nav-pills" role="tablist">
    <li role="presentation" class="active"><a href="#previews" aria-controls="previews" role="tab" data-toggle="tab"><i class="glyphicon glyphicon-eye-open" aria-hidden="true"></i> </a></li>
  </ul> -->
  <br/>
  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="previews">
      <% @posts.each do |post| %>
        <%= render 'shared/posts', post: post %>
      <% end %>
    </div>
    <div role="tabpanel" class="tab-pane" id="reviews">
      
    </div>
  </div>

</div>


</div>
<div class="col-md-4">
  
</div>

</div>

