<h1 class="text-center">Sampling: <%= deparametrize(@track) %></h1>
<br/>

<div class="col-md-12 row">
<div class="col-md-8">

  <div>
  <br/>

    	<% @posts.each do |post| %>
  			<%= render 'shared/posts', post: post %>
  		<% end %>

  </div>

</div>
<div class="col-md-4">

<%= render 'shared/sidebar' %>
  
</div>

</div>
