/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require font-awesome
 *= require_self
 */

 .navbar-collapse.collapse.in {
  min-height: 300px !important;
 }

 @media (max-width: 1200px) {
  .wave {
    display: none;
  }
}

 .buttons2
  {
    visibility: hidden;
  }

 @media (max-width: 600px) {
  .tags, .buttons {
    display: none;
  }

  .jp-seek-bar-display, .jp-seek-bar {
    background-image: url("") !important;
    background-color: transparent !important;
  }

  .buttons2 
  {
    visibility: visible;
  }

  .buttons2 .btn {
    width: 75px;
  }

  .jp-bar {
    width: 75% !important;
    margin-left: 10px !important;
  }
}

 .record {
    height:300px;
    background-image:url('https://static.pexels.com/photos/96857/pexels-photo-96857.jpeg');
    background-position-y: 500px;
    background-size: 100%;
    width: 100%;
 }


 .label a {
 color:white !important;
 }

 .black {
  color:black !important;
 }

 ul.social li {
  display: inline;
}

ul, ol {
  margin-left:0px !important;
  padding-left:0px !important;
}

ul li, ol li {
  margin-left:0px !important;
  padding-left:0px !important;
}

 h3 {
 margin-top: 10px !important;
 }

 .btn-round {
 border-radius: 50%;
 }

 .btn-blue, .label-blue {
 background-color: #337ab7;
 }

.btn-blue:hover {
 background-color: #337ab7;
 color: white;
 }

 ul {
  margin-left: 0px;
  padding-left: 0px;
 }

 li {
 list-style: none;
 }

 .tags li {
  display: inline-block;
 }

a:hover {
  background-color: transparent;
  color: black;
}

.white {
  color:white !important;
}

.white a:visited {
    color: #fff;
}


 main {
  background: white !important;
}

.jp-play-control {
  border-radius: 50%;
}

.jp-pause:before {
    *content: "\f04c";
}

.jp-flat-audio {
  position: relative;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: left;

  min-width:320px;
  max-width:1280px;
  width: 100%;
  height: 64px;

  /* Hide iOS touch highlight */
  -webkit-tap-highlight-color: rgba(0,0,0,0);

  /* Disable selection */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  /* define your text color here */
  color: #ffffff;
}

.jp-flat-audio,
.jp-flat-audio * {
  margin: 0;
  padding: 0;
  border: none;
  font-size: 0;
  line-height: 0;
}

.jp-flat-audio *:focus {
  /* Disable the browser focus highlighting. */
  outline:none;
}
.jp-flat-audio button::-moz-focus-inner {
  /* Disable the browser CSS3 focus highlighting. */
  border: 0;
}

.jp-flat-audio .jp-control {
  position: absolute;
  top: 0;
  width: 64px;
  height: 100%;

  /* define your pause/play button background color here */
  background-color: #4caf50;
   /* background-color: #337ab7; */
}

.jp-flat-audio .jp-play-control {
  left: 0;
}

.jp-flat-audio .jp-button {
  display:block;
  text-decoration: none;

  width: 64px;
  height: 100%;
  font-size: 32px;
  line-height: 64px;

  text-align: center;
  background: none;
  cursor: pointer;

  /* define your pause/play button icon color here */
  color: #ffffff;
}
.jp-flat-audio .jp-button:focus {
  /* define your pause/play button in focus icon color here */
  color: #e5f7ff;
}

.jp-flat-audio .jp-button:before {
  display: block;

  font-family: 'flat-audio';
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-variant: normal;
  text-transform: none;
  speak: none;

  width: 64px;
  line-height: 64px;

  text-align: center;
  opacity: 1.0;
}

.jp-flat-audio.jp-state-playing .jp-play:before {
  content: '\2016';
}
.jp-flat-audio .jp-play:before {
  /* content: '\25b6'; */
}

.jp-flat-audio .jp-bar {
  position: absolute;
  top: 0;
  left: 64px;
  right: 0;
  height: 100%;

  /* define your unseekable progress bar background color here - only noticeable with the flash solution as it downloads */
  background-color: #000000;
}
.jp-flat-audio .jp-seek-bar.jp-seek-bar-display {
  min-width: 0;

  /* define your unplayed progress bar background color here */
  background-color: #232323;
}
.jp-flat-audio .jp-seek-bar {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100%;

  cursor: pointer;
}

.jp-flat-audio .jp-play-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;

  /* define your played progress bar background color here */
  background-color: #fff;
  opacity: 0.5;
}

.jp-flat-audio .jp-details,
.jp-flat-audio .jp-timing {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  padding: 0 12px;

  font-size: 16px;
  line-height: 64px;
}
.jp-flat-audio .jp-timing {
  text-align: right;
}
.jp-flat-audio .jp-title,
.jp-flat-audio .jp-duration {
  font-size: 16px;
  line-height: 64px;
}

.jp-flat-audio .jp-no-solution {
  position: absolute;
  top: 0;
  left: 64px;
  right: 0;
  height: 48px; /* 64px - 8px - 8px = 48px */
  padding: 8px 0;

  line-height: 24px;
  font-size: 16px;
  text-align: center;
  display: none;

  /* define your error message text color here */
  color: #000000;

  /* define your error message background color here */
  background-color: #b28282;
}

.btn-group {
  width: 100%;
}

.one {
margin-top:8px;
height: 32px;
width: 3px;
background-color: #fff;
border-radius: 2px;
margin-right: 2px;
float:left;
}


.two {

height: 28px;
width: 3px;
background-color: #fff;
border-radius: 2px;
margin-right: 2px;
margin-top: 10px;
float:left;
}


.three {

height: 22px;
width: 3px;
background-color: #fff;
border-radius: 2px;
margin-right: 2px;
margin-top: 14px;
float:left;
}

.four {

height: 18px;
width: 3px;
background-color: #fff;
border-radius: 2px;
margin-right: 2px;
margin-top: 16px;
float:left;
}


.five {

height: 26px;
width: 3px;
background-color: #fff;
border-radius: 2px;
margin-right: 2px;
margin-top: 8px;
float:left;
}

.six {

height: 26px;
width: 3px;
background-color: #fff;
border-radius: 2px;
margin-right: 2px;
margin-top: 8px;
float:left;
}

.seven {

height: 26px;
width: 3px;
background-color: #fff;
border-radius: 2px;
margin-right: 2px;
margin-top: 8px;
float:left;
}

.navbar-brand {
  color:white !important;
  font-weight: 400;
  font-size: 18px !important;
  padding-top: 20px;
  margin-left: -8px !important;
  line-height: 18px !important;
}

.navbar-brand-logo {
  color:white !important;
  font-weight: 400;
  font-size: 30px;
  padding-top: 10px;
  float:left !important;
}

.navbar-inverse .navbar-nav {
  height: 60px;
  padding-top: 5px;
}

.navbar-inverse .navbar-nav > li > a {
  color: white !important;
}	