<%# add navigation links to this file %>
<li><%= link_to raw('<i class="glyphicon glyphicon-info-sign" aria-hidden="true"></i> About'), about_path %></li>
<li><%= link_to raw('<i class="glyphicon glyphicon-upload" aria-hidden="true"></i> Upload'), upload_path, class: "mobile" %></li>
<li><%= link_to raw('<i class="glyphicon glyphicon-star" aria-hidden="true"></i> Featured'), featured_path %></li>
